@charset "UTF-8";

/*------------------------------------------------------------------------------*/

footer{
	background-color: silver;
}

.ft_in{
	width: 1280px;
	margin: 0 auto;
}

.ft_nav{
	width: 656px;
	margin: 0 auto;
}

.ft_nav ul{
	display: flex;
}

.ft_nav ul li:after{
	content:'';
	background-color: #666;
	display: inline-block;
	width: 1px;
	height: 12px;
	margin: 3px 5px 0;
}

.ft_nav ul li:last-child:after{
	display: none;
}

.ft_info{
	display: flex;
}