@charset "UTF-8";

/*------------------------------------------------------------------------------*/

#topBar{
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	line-height: 30px;
}

.tb_list ul{
	display: flex; 
}

/*------------------------------------------------------------------------------*/

#wrap{
	background-color: #e6eeff;
}

.wrap_in{
	width: 1280px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}

#wrap_left{
	width: 79%;
}

#wrap_right{
	background-color: blue;
	width: 20%;
	height: 300px;
}

/*------------------------------------------------------------------------------*/

#container{
	
}

.ctn_left_side{
	width: 200px;
}

.accountBox{
	height: 220px;
	background-color: #cafe6e;
}

.ctn_content{
	background-color: white;
}

/*------------------------------------------------------------------------------*/