@charset "UTF-8";

/*------------------------------------------------------------------------------*/

#topBar{
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	line-height: 30px;
}

.tb_list ul{
	display: flex; 
}

/*------------------------------------------------------------------------------*/

#wrap{
	background-color: #e6eeff;
	padding-top: 10px
}

.wrap_in{
	width: 1280px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

#wrap_left{
	width: 79.3%;
}

#wrap_right{
	width: 20%;
}

/*------------------------------------------------------------------------------*/

#container{
	display: flex;
	min-height: 1000px;
}

.ctn_left_side{
	width: 20%;
	height: inherit;
	background: #19253d;
}

.ctn_content{
	background-color: white;
	width: 80%;
	padding: 8px;
}

/*------------------------------------------------------------------------------*/